@model NewCentury.ViewModels.JogadorViewModel

<form asp-action="Index" asp-controller="Game" method="post">
    <div class="form-group">
        <label for="nome">Nome:</label>
        <input type="text" class="form-control" id="nome" name="Nome" />
    </div>
    <button type="submit" class="btn btn-primary">Entrar</button>
</form>