@using NewCentury.Domain.Models.Enum
@model NewCentury.ViewModels.Temp.SessaoAtualViewModel

@{
    ViewData["Title"] = "Fim de Jogo";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-vindo ao Jogo de Adivinhação!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>


        .container_0 {
            max-width: 500px; /* Largura máxima do contêiner */
            margin: auto; /* Centraliza o contêiner na página */
            padding: 30px;
        }

        h1, h2, h3 {
            text-align: center;
        }

        form {
            margin-top: 30px;
            background-color: #fff; /* Adiciona cor de fundo ao formulário */
            padding: 20px; /* Adiciona preenchimento interno ao formulário */
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .form-group label {
            font-weight: bold;
        }

        .btn-primary {
            width: 100%;
        }
    </style>
</head>
<h2 class="text-center">Fim de Jogo</h2>

<div class="container_0 mt-5">
    @if (Model.EscolhaMaquina != 0 && Model.EscolhaJogador != 0)
    {

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Valor Jogado</h5>
                <p class="card-text">Jogador: @Model.EscolhaJogador</p>
                <p class="card-text">Máquina: @Model.EscolhaMaquina</p>
            </div>
            <div class="card-body">

                @if (Model.EscolhaJogador == Model.EscolhaMaquina)
                {
                    <p class="card-text text-success">Você ganhou! A máquina perdeu.</p>
                }
                else
                {
                    <p class="card-text text-danger">Você perdeu! A máquina ganhou.</p>
                }
                <h5 class="card-title">Valor Jogado</h5>
                <p class="card-text">Jogador: @Model.EscolhaJogador</p>
                <p class="card-text">Máquina: @Model.EscolhaMaquina</p>
            </div>


        </div>
    }
</div>
