@model NewCentury.ViewModels.Temp.PartidaAtualViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-vindo ao Jogo de Adivinhação!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>


        .container_0 {
            max-width: 500px; /* Largura máxima do contêiner */
            margin: auto; /* Centraliza o contêiner na página */
            padding: 30px;
        }

        h1, h2, h3 {
            text-align: center;
        }

        form {
            margin-top: 30px;
            background-color: #fff; /* Adiciona cor de fundo ao formulário */
            padding: 20px; /* Adiciona preenchimento interno ao formulário */
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .form-group label {
            font-weight: bold;
        }

        .btn-primary {
            width: 100%;
        }
    </style>
</head>
<body>
    <div class="container_0">
        <h1>Bem-vindo ao Jogo de Adivinhação!</h1>

        <p>Escolha as configurações para a partida:</p>

        <form asp-action="Jogar" asp-controller="Game" method="post">

            <input type="hidden" name="JogadorId" value="@Model.JogadorId" />
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="dificuldade">Dificuldade:</label>
                    <select name="Dificuldade" class="form-control">
                        <option value="FACIL">Fácil</option>
                        <option value="MEDIO">Médio</option>
                        <option value="DIFICIL">Difícil</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="numeroRodadas">Número de Rodadas:</label>
                    <select name="NumeroRodadas" class="form-control">
                        <option value="1" selected>1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                </div>

            </div>
            <div class="form-group">
                <label for="quemComeca">Quem Começa:</label>
                <select name="QuemComeca" class="form-control">
                    <option value="jogador">Eu Começo</option>
                    <option value="maquina">Máquina Começa</option>
                </select>
            </div>
            <div style="text-align: center;">
                <button type="submit" class="btn btn-dark mb-3"><i class="fas fa-gamepad"></i></button>
            </div>

        </form>




    </div>
    <div class="row">
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </div>

</body>
</html>
