@{
    ViewData["Title"] = "Tentativas";
}

<div class="table-responsive" style="max-height: 300px;">
                <table class="table table-striped" id="tentativasTable">
                    <thead>
                        <tr>
                            <th>Partida ID</th>
                            <th>Jogador</th>
                            <th>Escolha Máquina</th>
                            <th>Escolha Jogador</th>
                            <th>Data</th>
                            <th>Player</th>
                            <th>Resultado</th>
                        </tr>
                    </thead>
                    <tbody id="tentativasTableBody">
                    </tbody>
                </table>
            </div>
