@model NewCentury.ViewModels.Dash.DashViewModel
@{
    ViewData["Title"] = "Dashboard";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo</h1>
    <div class="container mt-5">
        <h2>Bem-vindo ao Painel de Controle, @Model.NomeJogador!</h2>
        <p>Aqui você pode acessar diferentes recursos de Dashboarding.</p>
    </div>
</div>

<div class="container mt-10">
    <form asp-action="Filtrar" asp-controller="Dash" method="post" onsubmit="return validarDatas()">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="dataInicial">Data Inicial:</label>
                    <input type="date" class="form-control" id="dataInicial" name="DataInicial" value="@Model.DataInicial.ToString("yyyy-MM-dd")" onchange="validarDataInicial()">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="dataFinal">Data Final:</label>
                    <input type="date" class="form-control" id="dataFinal" name="DataFinal" value="@Model.DataFinal.ToString("yyyy-MM-dd")" onchange="validarDataFinal()">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button type="submit" class="btn btn-primary">Filtrar</button>
            </div>
        </div>
    </form>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-12">
            @await Html.PartialAsync("~/Views/Dash/_Tentativas.cshtml")
        </div>
        <div class="col-lg-12">
            @await Html.PartialAsync("~/Views/Dash/_HistoricoPartidas.cshtml")
        </div>
        <div class="col-lg-12">
            @await Html.PartialAsync("~/Views/Dash/_Ranking.cshtml")
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-12">
            <div class="row mt-4">
                <div class="col-lg-12">
                    <h4>Comentários</h4>
                    <p>Adicione aqui seus comentários ou qualquer outra informação adicional.</p>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function validarDatas() {
            var dataInicial = document.getElementById("dataInicial").value;
            var dataFinal = document.getElementById("dataFinal").value;
            var dataAtual = new Date().toISOString().split('T')[0];

            if (dataInicial > dataFinal) {
                alert("A data inicial deve ser menor ou igual à data final.");
                return false;
            }

            if (dataInicial > dataAtual || dataFinal > dataAtual) {
                alert("As datas não podem ser maiores que a data atual.");
                return false;
            }

            return true;
        }

        function validarDataInicial() {
            var dataInicial = document.getElementById("dataInicial").value;
            var dataFinal = document.getElementById("dataFinal").value;

            if (dataInicial > dataFinal) {
                document.getElementById("dataInicial").value = new Date().toISOString().split('T')[0];
            }
        }

        function validarDataFinal() {
            var dataInicial = document.getElementById("dataInicial").value;
            var dataFinal = document.getElementById("dataFinal").value;

            if (dataInicial > dataFinal) {
                document.getElementById("dataFinal").value = new Date().toISOString().split('T')[0];
            }
        }

        //Rodadas
        var tentativasData = [
            { PartidaId: 1, JogadorNome: "Jogador 1", EscolhaMaquina: "Pedra", EscolhaJogador: "Tesoura", DataJogada: "2024-03-01", Player: "Player 1", Resultado: "Vitória" },
            { PartidaId: 2, JogadorNome: "Jogador 2", EscolhaMaquina: "Tesoura", EscolhaJogador: "Papel", DataJogada: "2024-03-02", Player: "Player 2", Resultado: "Derrota" },
            // Mais dados de tentativas...
        ];
        function preencherTabelaTentativas() {
            var tentativasTableBody = document.getElementById("tentativasTableBody");

            tentativasData.forEach(function (tentativa) {
                var row = document.createElement("tr");

                row.innerHTML = `
                                    <td>${tentativa.PartidaId}</td>
                                    <td>${tentativa.JogadorNome}</td>
                                    <td>${tentativa.EscolhaMaquina}</td>
                                    <td>${tentativa.EscolhaJogador}</td>
                                    <td>${tentativa.DataJogada}</td>
                                    <td>${tentativa.Player}</td>
                                    <td>${tentativa.Resultado}</td>
                                `;

                tentativasTableBody.appendChild(row);
            });
        }

        //Partidas
        var partidasData = [
            { PartidaId: 1, Jogador: "Jogador 1", Dificuldade: "Fácil", Rodadas: 5, QuemComeca: "Jogador", Data: "2024-03-01", Vencedor: "Jogador 1" },
            { PartidaId: 2, Jogador: "Jogador 2", Dificuldade: "Médio", Rodadas: 7, QuemComeca: "Máquina", Data: "2024-03-02", Vencedor: "Máquina" },
            { PartidaId: 1, Jogador: "Jogador 1", Dificuldade: "Fácil", Rodadas: 5, QuemComeca: "Jogador", Data: "2024-03-01", Vencedor: "Jogador 1" },
            { PartidaId: 2, Jogador: "Jogador 2", Dificuldade: "Médio", Rodadas: 7, QuemComeca: "Máquina", Data: "2024-03-02", Vencedor: "Máquina" },
            { PartidaId: 1, Jogador: "Jogador 1", Dificuldade: "Fácil", Rodadas: 5, QuemComeca: "Jogador", Data: "2024-03-01", Vencedor: "Jogador 1" },
            { PartidaId: 2, Jogador: "Jogador 2", Dificuldade: "Médio", Rodadas: 7, QuemComeca: "Máquina", Data: "2024-03-02", Vencedor: "Máquina" },
            { PartidaId: 1, Jogador: "Jogador 1", Dificuldade: "Fácil", Rodadas: 5, QuemComeca: "Jogador", Data: "2024-03-01", Vencedor: "Jogador 1" },
            { PartidaId: 2, Jogador: "Jogador 2", Dificuldade: "Médio", Rodadas: 7, QuemComeca: "Máquina", Data: "2024-03-02", Vencedor: "Máquina" },
            { PartidaId: 1, Jogador: "Jogador 1", Dificuldade: "Fácil", Rodadas: 5, QuemComeca: "Jogador", Data: "2024-03-01", Vencedor: "Jogador 1" },
            { PartidaId: 2, Jogador: "Jogador 2", Dificuldade: "Médio", Rodadas: 7, QuemComeca: "Máquina", Data: "2024-03-02", Vencedor: "Máquina" },
            { PartidaId: 1, Jogador: "Jogador 1", Dificuldade: "Fácil", Rodadas: 5, QuemComeca: "Jogador", Data: "2024-03-01", Vencedor: "Jogador 1" },
            { PartidaId: 2, Jogador: "Jogador 2", Dificuldade: "Médio", Rodadas: 7, QuemComeca: "Máquina", Data: "2024-03-02", Vencedor: "Máquina" },
            { PartidaId: 1, Jogador: "Jogador 1", Dificuldade: "Fácil", Rodadas: 5, QuemComeca: "Jogador", Data: "2024-03-01", Vencedor: "Jogador 1" },
            { PartidaId: 2, Jogador: "Jogador 2", Dificuldade: "Médio", Rodadas: 7, QuemComeca: "Máquina", Data: "2024-03-02", Vencedor: "Máquina" },
            { PartidaId: 1, Jogador: "Jogador 1", Dificuldade: "Fácil", Rodadas: 5, QuemComeca: "Jogador", Data: "2024-03-01", Vencedor: "Jogador 1" },
            { PartidaId: 2, Jogador: "Jogador 2", Dificuldade: "Médio", Rodadas: 7, QuemComeca: "Máquina", Data: "2024-03-02", Vencedor: "Máquina" },
            { PartidaId: 1, Jogador: "Jogador 1", Dificuldade: "Fácil", Rodadas: 5, QuemComeca: "Jogador", Data: "2024-03-01", Vencedor: "Jogador 1" },
            { PartidaId: 2, Jogador: "Jogador 2", Dificuldade: "Médio", Rodadas: 7, QuemComeca: "Máquina", Data: "2024-03-02", Vencedor: "Máquina" },
            { PartidaId: 1, Jogador: "Jogador 1", Dificuldade: "Fácil", Rodadas: 5, QuemComeca: "Jogador", Data: "2024-03-01", Vencedor: "Jogador 1" },
            { PartidaId: 2, Jogador: "Jogador 2", Dificuldade: "Médio", Rodadas: 7, QuemComeca: "Máquina", Data: "2024-03-02", Vencedor: "Máquina" },
            { PartidaId: 1, Jogador: "Jogador 1", Dificuldade: "Fácil", Rodadas: 5, QuemComeca: "Jogador", Data: "2024-03-01", Vencedor: "Jogador 1" },
            { PartidaId: 2, Jogador: "Jogador 2", Dificuldade: "Médio", Rodadas: 7, QuemComeca: "Máquina", Data: "2024-03-02", Vencedor: "Máquina" },
            { PartidaId: 1, Jogador: "Jogador 1", Dificuldade: "Fácil", Rodadas: 5, QuemComeca: "Jogador", Data: "2024-03-01", Vencedor: "Jogador 1" },
            { PartidaId: 2, Jogador: "Jogador 2", Dificuldade: "Médio", Rodadas: 7, QuemComeca: "Máquina", Data: "2024-03-02", Vencedor: "Máquina" },
            { PartidaId: 1, Jogador: "Jogador 1", Dificuldade: "Fácil", Rodadas: 5, QuemComeca: "Jogador", Data: "2024-03-01", Vencedor: "Jogador 1" },
            { PartidaId: 2, Jogador: "Jogador 2", Dificuldade: "Médio", Rodadas: 7, QuemComeca: "Máquina", Data: "2024-03-02", Vencedor: "Máquina" },
            { PartidaId: 1, Jogador: "Jogador 1", Dificuldade: "Fácil", Rodadas: 5, QuemComeca: "Jogador", Data: "2024-03-01", Vencedor: "Jogador 1" },
            { PartidaId: 2, Jogador: "Jogador 2", Dificuldade: "Médio", Rodadas: 7, QuemComeca: "Máquina", Data: "2024-03-02", Vencedor: "Máquina" },
            { PartidaId: 1, Jogador: "Jogador 1", Dificuldade: "Fácil", Rodadas: 5, QuemComeca: "Jogador", Data: "2024-03-01", Vencedor: "Jogador 1" },
            { PartidaId: 2, Jogador: "Jogador 2", Dificuldade: "Médio", Rodadas: 7, QuemComeca: "Máquina", Data: "2024-03-02", Vencedor: "Máquina" },
            { PartidaId: 1, Jogador: "Jogador 1", Dificuldade: "Fácil", Rodadas: 5, QuemComeca: "Jogador", Data: "2024-03-01", Vencedor: "Jogador 1" },
            { PartidaId: 2, Jogador: "Jogador 2", Dificuldade: "Médio", Rodadas: 7, QuemComeca: "Máquina", Data: "2024-03-02", Vencedor: "Máquina" },
            { PartidaId: 1, Jogador: "Jogador 1", Dificuldade: "Fácil", Rodadas: 5, QuemComeca: "Jogador", Data: "2024-03-01", Vencedor: "Jogador 1" },
            { PartidaId: 2, Jogador: "Jogador 2", Dificuldade: "Médio", Rodadas: 7, QuemComeca: "Máquina", Data: "2024-03-02", Vencedor: "Máquina" },
            { PartidaId: 1, Jogador: "Jogador 1", Dificuldade: "Fácil", Rodadas: 5, QuemComeca: "Jogador", Data: "2024-03-01", Vencedor: "Jogador 1" },
            { PartidaId: 2, Jogador: "Jogador 2", Dificuldade: "Médio", Rodadas: 7, QuemComeca: "Máquina", Data: "2024-03-02", Vencedor: "Máquina" },
            { PartidaId: 1, Jogador: "Jogador 1", Dificuldade: "Fácil", Rodadas: 5, QuemComeca: "Jogador", Data: "2024-03-01", Vencedor: "Jogador 1" },
            { PartidaId: 2, Jogador: "Jogador 2", Dificuldade: "Médio", Rodadas: 7, QuemComeca: "Máquina", Data: "2024-03-02", Vencedor: "Máquina" },
            { PartidaId: 1, Jogador: "Jogador 1", Dificuldade: "Fácil", Rodadas: 5, QuemComeca: "Jogador", Data: "2024-03-01", Vencedor: "Jogador 1" },
            { PartidaId: 2, Jogador: "Jogador 2", Dificuldade: "Médio", Rodadas: 7, QuemComeca: "Máquina", Data: "2024-03-02", Vencedor: "Máquina" },
            { PartidaId: 1, Jogador: "Jogador 1", Dificuldade: "Fácil", Rodadas: 5, QuemComeca: "Jogador", Data: "2024-03-01", Vencedor: "Jogador 1" },
            { PartidaId: 2, Jogador: "Jogador 2", Dificuldade: "Médio", Rodadas: 7, QuemComeca: "Máquina", Data: "2024-03-02", Vencedor: "Máquina" },
            { PartidaId: 1, Jogador: "Jogador 1", Dificuldade: "Fácil", Rodadas: 5, QuemComeca: "Jogador", Data: "2024-03-01", Vencedor: "Jogador 1" },
            { PartidaId: 2, Jogador: "Jogador 2", Dificuldade: "Médio", Rodadas: 7, QuemComeca: "Máquina", Data: "2024-03-02", Vencedor: "Máquina" },
            { PartidaId: 1, Jogador: "Jogador 1", Dificuldade: "Fácil", Rodadas: 5, QuemComeca: "Jogador", Data: "2024-03-01", Vencedor: "Jogador 1" },
            { PartidaId: 2, Jogador: "Jogador 2", Dificuldade: "Médio", Rodadas: 7, QuemComeca: "Máquina", Data: "2024-03-02", Vencedor: "Máquina" },
            { PartidaId: 1, Jogador: "Jogador 1", Dificuldade: "Fácil", Rodadas: 5, QuemComeca: "Jogador", Data: "2024-03-01", Vencedor: "Jogador 1" },
            { PartidaId: 2, Jogador: "Jogador 2", Dificuldade: "Médio", Rodadas: 7, QuemComeca: "Máquina", Data: "2024-03-02", Vencedor: "Máquina" },
            // Mais dados de partidas...
        ];
        function preencherTabelaPartidas() {
            var partidasTableBody = document.getElementById("partidasTableBody");

            partidasData.forEach(function (partida) {
                var row = document.createElement("tr");

                row.innerHTML = `
                                    <td>${partida.PartidaId}</td>
                                    <td>${partida.Jogador}</td>
                                    <td>${partida.Dificuldade}</td>
                                    <td>${partida.Rodadas}</td>
                                    <td>${partida.QuemComeca}</td>
                                    <td>${partida.Data}</td>
                                    <td>${partida.Vencedor}</td>
                                `;

                partidasTableBody.appendChild(row);
            });
        }


        //Raniking
        var rankingData = [
            { Jogador: "Jogador 1", GanhoPorcentagem: "80%", Classificacao: 1, Modalidade: "Fácil", Player: "Player 1", Resultado: "Vitória" },
            { Jogador: "Jogador 2", GanhoPorcentagem: "65%", Classificacao: 2, Modalidade: "Médio", Player: "Player 2", Resultado: "Vitória" },
            // Mais dados de ranking...
        ];
        function preencherTabelaRanking() {
            var rankingTableBody = document.getElementById("RankingTableBody");

            rankingData.forEach(function (item) {
                var row = document.createElement("tr");

                row.innerHTML = `
                                    <td>${item.Jogador}</td>
                                    <td>${item.GanhoPorcentagem}</td>
                                    <td>${item.Classificacao}</td>
                                    <td>${item.Modalidade}</td>
                                    <td>${item.Player}</td>
                                    <td>${item.Resultado}</td>
                                `;

                rankingTableBody.appendChild(row);
            });
        }

        // Chama a função para preencher a tabela quando a página carrega
        document.addEventListener("DOMContentLoaded", function () {
            preencherTabelaRanking();
        });


        // Chama a função para preencher a tabela quando a página carrega
        document.addEventListener("DOMContentLoaded", function () {
            preencherTabelaPartidas();
        });
        // Chama a função para preencher a tabela quando a página carrega
        window.onload = function () {
            preencherTabelaPartidas();
        };

        // Chama a função para preencher a tabela quando a página carrega
        window.onload = function () {
            preencherTabelaTentativas();
        };


    </script>
}

